{{define "page_header"}}
<div id="header">
<h1>Hockeypuck</h1>
<p>Public key directory</p>
<div id="topmenu">
	<ul>
		<li><a href="/">Search OpenPGP</a></li>
		<li><a href="https://launchpad.net/hockeypuck">Project Home</a></li>
	</ul>
</div>
</div>
{{end}}
