[submodule "charms/precise/hockeypuck"]
	path = charms/precise/hockeypuck
	url = https://github.com/hockeypuck/hockeypuck-charm.git
[submodule "charms/precise/sks"]
	path = charms/precise/sks
	url = https://github.com/hockeypuck/sks-charm.git
[submodule "charms/trusty/hockeypuck"]
	path = charms/trusty/hockeypuck
	url = https://github.com/hockeypuck/hockeypuck-charm.git
