<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Hockeypuck OpenPGP Keyserver Statistics</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link href='/assets/css/pks.min.css' rel='stylesheet' type='text/css'>
<style>
table, th, td {
    border: 1px solid;
}
</style></head><body><h1>Hockeypuck OpenPGP Keyserver Statistics</h1>
Taken at {{ .Now }}
<h2>Settings</h2>
<table>
<tr><th>Version</th><td>{{ .Version }} </td></tr>
{{ if .Contact }}<tr><th>Server Contact</th><td>{{ .Contact }} </td></tr>{{ end }}
<tr><th>HTTP</th><td>{{ .HTTPAddr }} </td></tr>
<tr><th>Recon</th><td>{{ .ReconAddr }} </td></tr>
</table>

<h3>Gossip Peers</h3>
<table><tr><th>Name</th><th>HTTP</th><th>Recon</th></tr>
{{ range $peer := .Peers }}<tr><td>{{ $peer.Name }}</td><td><a href="http://{{ $peer.HTTPAddr }}/pks/lookup?op=stats">{{ $peer.HTTPAddr }}</a></td><td>{{ $peer.ReconAddr }}</td></tr>
{{ end }}</table>

<h2>Statistics</h2>
Total number of keys: {{ .Total }}

<h3>Daily Histogram</h3>
<table><tr><th>Day</th><th>New Keys</th><th>Updated Keys</th></tr>
{{ range $stats := .Daily }}<tr><td>{{ day $stats.Time }}</td><td>{{ $stats.Inserted }}</td><td>{{ $stats.Updated }}</td></tr>
{{ end }}</table>

<h3>Hourly Histogram</h3>
<table><tr><th>Hour</th><th>New Keys</th><th>Updated Keys</th></tr>
{{ range $stats := .Hourly }}<tr><td>{{ hour $stats.Time }}</td><td>{{ $stats.Inserted }}</td><td>{{ $stats.Updated }}</td></tr>
{{ end }}</table>

</body></html>

