[hockeypuck]
logfile="/var/log/hockeypuck/hockeypuck.log"
loglevel="{{ loglevel }}"
webroot="/var/lib/hockeypuck/www"
indexTemplate="/var/lib/hockeypuck/templates/index.html.tmpl"
vindexTemplate="/var/lib/hockeypuck/templates/index.html.tmpl"
statsTemplate="/var/lib/hockeypuck/templates/stats.html.tmpl"

[hockeypuck.hkp]
bind=":11371"

{% if driver == "postgres" %}
[hockeypuck.openpgp.db]
driver="postgres-jsonb"
dsn="database=hkp host=/var/run/postgresql port=5432 sslmode=disable"

{% endif %}
[hockeypuck.conflux.recon]
httpAddr=":11371"
reconAddr=":11370"
gossipIntervalSecs=30
filters=["yminsky.dedup"]
{% if allow_cidrs|default("") %}
allowCIDRs={{ allow_cidrs }}
{% endif %}

[hockeypuck.conflux.recon.leveldb]
path="/var/lib/hockeypuck/recon-ptree"

{% for host in groups["peers"] %}
{% if hostvars[host]['inventory_hostname'] != inventory_hostname %}
[hockeypuck.conflux.recon.partner.{{ hostvars[host]['peer_name']}}]
{% if use_inventory_name %}
httpAddr="{{ hostvars[host]['inventory_hostname'] }}:11371"
reconAddr="{{ hostvars[host]['inventory_hostname'] }}:11370"
{% elif use_ipv4 %}
httpAddr="{{ hostvars[host]['ansible_default_ipv4']['address'] }}:11371"
reconAddr="{{ hostvars[host]['ansible_default_ipv4']['address'] }}:11370"
{% elif use_ipv6 %}
httpAddr="{{ hostvars[host]['ansible_default_ipv6']['address'] }}:11371"
reconAddr="{{ hostvars[host]['ansible_default_ipv6']['address'] }}:11370"
{% endif %}
{% endif %}

{% endfor %}

