server {
    listen 80;
    server_name ${FQDN} ${ALIAS_FQDNS};
    location /.well-known/acme-challenge/ {
        # use defaults
    }
    location / {
        return 301 https://$host$request_uri;
    }
}
server {
    listen 443 ssl;
    server_name ${FQDN} ${ALIAS_FQDNS};
    ssl_certificate /etc/letsencrypt/live/${FQDN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${FQDN}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
    location /monitoring/prometheus {
        # To allow access from other IPs, edit the access rules below:
        # allow 192.168.0.1/32;
        allow 127.0.0.1/8;
        deny all;
        proxy_pass http://prometheus:9090;
        sub_filter_types text/html;
        sub_filter_once off;
        sub_filter '="/' '="/monitoring/prometheus/';
        sub_filter 'var PATH_PREFIX = "";' 'var PATH_PREFIX = "/monitoring/prometheus";';
        rewrite ^/monitoring/prometheus/?$ /monitoring/prometheus/graph redirect;
        rewrite ^/monitoring/prometheus/(.*)$ /$1 break;
    }
    location / {
        proxy_pass http://hockeypuck:11371;
    }
}
