Source: hockeypuck
Section: net
Priority: optional
Maintainer: Casey Marshall <cmars@cmarstech.com>
Build-Depends: debhelper (>= 9), golang-1.12, dh-systemd (>= 1.5)
Standards-Version: 3.9.5
Homepage: https://hockeypuck.github.io/

Package: hockeypuck
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Conflicts: hockeypuck (<< 2)
Recommends:
 logrotate, upstart
Suggests:
 postgresql
Description: OpenPGP Key Server
 Hockeypuck is an OpenPGP Key Server implementing the HTTP Keyserver Protocol.
