[Unit]
Description=hockeypuck
After=network.target postgresql.service
Requires=postgresql.service

[Service]
User=hockeypuck
Group=hockeypuck
LimitNOFILE=49152
Environment=HOME=/var/lib/hockeypuck
ExecStart=/usr/bin/hockeypuck -config /etc/hockeypuck/hockeypuck.conf
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
