#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSION_RELEASE=$(shell cat $(CURDIR)/version-release)
VERSION_GIT_COMMIT=$(shell cat $(CURDIR)/version-git-commit)

GO_BUILD_LDFLAGS=-ldflags "-X github.com/hockeypuck/server.version ${VERSION_RELEASE}"

%:
	dh $@ --with systemd
