#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export GOPATH:=$(CURDIR)
export PATH:=$(GOPATH)/bin:$(PATH)

VERSION_RELEASE=$(shell cat $(CURDIR)/version-release)
VERSION_GIT_COMMIT=$(shell cat $(CURDIR)/version-git-commit)

GO_BUILD_LDFLAGS=-ldflags "-X github.com/hockeypuck/server.version ${VERSION_RELEASE}"

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/hockeypuck/usr/bin
	mkdir -p $(CURDIR)/debian/hockeypuck/etc/hockeypuck
	mkdir -p $(CURDIR)/debian/hockeypuck/var/lib/hockeypuck/templates
	
	cp -r $(CURDIR)/instroot/* $(CURDIR)/debian/hockeypuck
	
	go build -o $(CURDIR)/debian/hockeypuck/usr/bin/hockeypuck \
		$(GO_BUILD_LDFLAGS) \
		github.com/hockeypuck/server/cmd/hockeypuck

	go build -o $(CURDIR)/debian/hockeypuck/usr/bin/hockeypuck-load \
		$(GO_BUILD_LDFLAGS) \
		github.com/hockeypuck/server/cmd/hockeypuck-load

	go build -o $(CURDIR)/debian/hockeypuck/usr/bin/hockeypuck-pbuild \
		$(GO_BUILD_LDFLAGS) \
		github.com/hockeypuck/server/cmd/hockeypuck-pbuild

	go build -o $(CURDIR)/debian/hockeypuck/usr/bin/hockeypuck-dump \
		$(GO_BUILD_LDFLAGS) \
		github.com/hockeypuck/server/cmd/hockeypuck-dump
	
	dh_auto_install

override_dh_auto_clean:
	rm -rf pkg bin
	dh_auto_clean

override_dh_strip:
	:

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_gencontrol:
	dh_gencontrol -- $(DB_DEP)

