# hockeypuck - ubuntu upstart file

description "Hockeypuck OpenPGP Keyserver"
author "Casey Marshall <cmars@cmarstech.com>"

start on started mongodb
stop on stopped mongodb

# Automatically restart process if crashed
respawn
respawn limit unlimited

setuid hockeypuck

# Start the process
exec /usr/bin/hockeypuck {% if memprof %}-memprof {% endif %}-config /etc/hockeypuck/hockeypuck.conf

