name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: ci
    runs-on: ubuntu-latest
    steps:
    - name: Install postgresql
      shell: bash
      run: sudo apt-get install -y postgresql

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test
      shell: bash
      run: make lint test-go test-postgresql
