@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(/fonts/Arvo/Arvo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(/fonts/Droid_Sans/DroidSans.ttf) format('truetype');
}
/* Purty letters */
body {
	font-family: 'Droid Sans', sans-serif;
}
h1, h2 {
	font-family: 'Arvo', serif;
	font-weight: normal;
}
/* General */
#header h1 {
	margin-bottom: 0.1em;
}
#footer {
	font-size: x-small;
	text-align: center;
}
a#logo:link, a#logo:visited, a#logo:hover, a#logo:active {
	text-decoration: none;
	color: #000;
} 
/* Sticky footer */
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
#footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
}
#main { padding-bottom: 3em; } /* equal to footer height */
/* Search page */
.pks-search {
	text-align: center;
}
h2.pks-search {
	padding-top: 10%;
}
.pks-search input[name=search] {
	width: 60%;
}
/* Top menu, ripped from Sliding Doors */
#topmenu {
	float:left;
	width:100%;
	line-height:normal;
	border-bottom: solid 1px black;
	margin-bottom: 1%;
}
#header ul {
	margin:0;
	padding:0;
	list-style:none;
}
#header li {
	float:left;
	margin:0;
	padding:0;
}
#header a, #header span {
	display:block;
	padding: 3px 3px 3px 3px;
	margin: 0;
	border-right: dotted 1px #ccc;
}
#header span.menu-label {
	padding-left: 13px;
}
#header li.about {
	float: right
}
span.todo-link {
	color: #999
}
